cedict_1_0_ts_utf-8_mdbg.txt.gz
hskv3-official-full.pdf

node_modules/
dist/
build/
out/

.env
.env.*

.cache/
.parcel-cache/
.vite/
.turbo/
.next/
.nuxt/
.svelte-kit/
.astro/

coverage/
reports/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.eslintcache
.stylelintcache
.tsbuildinfo

.vercel/
.netlify/

.DS_Store
Thumbs.db

.tmp/
.temp/
